*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	background: #eee;
}

header{
	width: 100%;
	height: 220px;
}

header img{
	width: 100%;
	height: 220px;
}

nav .menu{
	background: white;
	text-align: center;
}

nav a{
	line-height: 50px;
	padding: 10px 15px;
	text-decoration: none;
}

nav a:hover{
	border-bottom: 3px solid blue;
}

main{
	width: 900px;
	margin: 20px auto;
	overflow: hidden;
}

main .leftBox{
	float: left;
}

main section{
	width: 600px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 2px 2px 2px #c7c5c5;
}

main aside{
	overflow: hidden;
	padding-left: 20px;
	font-size: 12px;
}

main aside > div{
	background: white;
	margin-bottom: 20px;
}

main aside .line{
	padding: 10px;

}

main aside .line span{
	display: inline-block;
	text-align: right;
	width: 60px;
}

main aside .line input{
	width: 150px; 
}

input[type="button"]{
	margin-left: 64px;
}

#userInfo{
	display: block;
	width: 150px;
	margin-left: 64px;
	margin: 0 auto;
	color: red;
}

main aside .title{
	padding: 10px;
	font-size: 18px;
	border-bottom: 3px solid #eee;
}
