<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<header>
		<img src="/images/timg1.jpg">
	</header>

	<nav>
		<div class = "menu">
			<a href="#">首页</a>
			<a href="#">HTML5</a>
			<a href="#">CSS</a>
			<a href="#">JavaScript</a>
		</div>
	</nav>

	<main>
		<div class="leftBox">
			<section></section>
			<section></section>
			<section></section>
		</div>
        <aside>
<!-- 		<div id="userInfo">
				<div class="title"><span>用户信息</span></div>
				<p class="line">
					你好,管理员！
				</p>
				<p class="line"><span>退出</span></p>
			</div> -->
			<div id="loginBox">
				<div class="title"><span>登录</span></div>
				<form>
					<div class="line">
						<span>用户名:</span>
						<input type="text" name="username">
					</div>
					<div class="line">
						<span>密码:</span>
						<input type="password" name="password">
					</div>
					<div class="line">
						<input type="button" name="submit" value="登录" id="loginBtn">
					</div>
					<div class="line">
						<p>还没注册？<a href="javascript:;" id="registerLink">马上注册</a></p>
					</div>
				</form>
			</div>
			<div id="registerBox" style="display: none">
				<div class="title">注册</div>
				<form>
					<div class="line">
						<span>用户名:</span>
						<input type="text" name="username">
					</div>
					<div class="line">
						<span>密码:</span>
						<input type="password" name="password">
					</div>
					<div class="line">
						<span>确认:</span>
						<input type="password" name="repassword">
					</div>
					<div class="line">
						<span id="userInfo"></span>
					</div>
					<div class="line">
						<input type="button" name="submit" value="注册" id="registerBtn">
					</div>
					<div class="line">
						<p>已有账号？<a href="javascript:;" id="loginLink">马上登录</a></p>
					</div>
				</form>
			</div>
			<div>
				<div class="title"><span>社区</span></div>
				<p class="line"><a href="#">Node</a></p>
				<p class="line"><a href="#">React</a></p>
			</div>
	    </aside>
	</main>

	<footer>Copyright 版权所有,翻版必究</footer>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>